.trumba {
  
  $blue: #002878;
  $light-blue: #3366CC;
  $grey: #666666;
  $light-grey: #BFBFBF;
  $light-blue-grey: #E4E6F0;
  $sans-serif: 'PT Sans Narrow', Verdana, Arial, sans-serif;
  $sans-serif-alt: 'PT Sans', Verdana, Arial, sans-serif;
  $serif: 'PT Serif', Georgia, 'Times New Roman', serif;
  
  .feed {
    
    &, ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    a { display: inline-block; }

    .date { 
      font-family: $sans-serif;
      font-size: 18px;
      margin: 10px 0;
    }

    .title {
      display: inline-block;
      font-size: 18px;
      font-weight: normal;
      text-transform: none;
      transition: all .25s ease;

      a { 
        font-family: $sans-serif;
        color: $blue; 
        text-decoration: none;

        &:visited { @extend a; }
        &:hover { text-decoration: underline; }

      }

    }

    .sign-up {
      display: inline-block;
      margin-left: 5px;

      a {
        font-size: 10px;
        font-weight: 600px;
        text-decoration: none;
        font-family: $sans-serif;
        background-color: $light-blue;
        border: 1px solid $light-blue;
        border-radius: 3px;
        padding: 0 6px;
        white-space: nowrap;
        color: white;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { background-color: $grey; border-color: $grey; text-decoration: underline; }

      }

    }

    .desc {
      font-family: $serif;
      font-size: 16px;
      margin: 0;

      a {
        color: $light-blue;
        text-decoration: none;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { color: $grey; text-decoration: underline; }

      }

    }

    .more {
      display: inline-block;

      a {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { text-decoration: underline; }

      }

    }

    .view-all {
      border-top: 1px solid $light-grey;
      padding-top: 5px;
      margin-top: 25px;

      a {
        color: $blue;
        font-family: $sans-serif-alt;
        text-decoration: none;
        font-size: 14px;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { text-decoration: underline; }

      }

    }
    
  }
  
  .detail {
    
    a { display: inline-block; }
    
    .feature {
      width: 100%;
      height: 300px;
      position: relative;
      background-color: whitesmoke;
      margin-bottom: 2em;
      overflow: hidden;
      
      img {
        display: block;
        position: absolute;
        max-width: 100%;
        width: 100%;
        min-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
      
    }
    
    .date {
      font-family: $sans-serif-alt;
      font-size: 14px;
      text-transform: uppercase;
      white-space: nowrap;
      margin-bottom: 10px;
    }
    
    .title {
      font-family: $sans-serif-alt;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .sign-up {

      a {
        font-size: 12px;
        font-weight: 600px;
        text-decoration: none;
        font-family: $sans-serif;
        background-color: $light-blue;
        border: 1px solid $light-blue;
        border-radius: 3px;
        padding: 0 6px;
        white-space: nowrap;
        color: white;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { background-color: $grey; border-color: $grey; text-decoration: underline; }

      }
      
    }
    
    .desc {
      font-family: $serif;
      font-size: 16px;

      a {
        color: $light-blue;
        text-decoration: none;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { color: $grey; text-decoration: underline; }

      }

    }
    
    .info {
      border-collapse: collapse;
      font-family: $sans-serif-alt;
      font-size: .9em;
      
      th { 
        text-align: left; 
        color: $blue;
        padding-right: 20px;
      }
      
      a {
        color: $light-blue;
        text-decoration: none;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { color: $grey; text-decoration: underline; }

      }
      
      
    }
    
    .links {
      border-top: 1px solid $light-grey;
      padding-top: 5px;
      margin-top: 25px;
      clear: both;

      a,
      label {
        display: inline-block;
        color: $blue;
        font-family: $sans-serif-alt;
        text-decoration: none;
        font-size: 14px;
        transition: all .25s ease;
        cursor: pointer;
        line-height: 1;
        
        + a { float: right; margin-left: 10px; }
        + label { float: right; margin-left: 10px; }

      }
      
      a {
        
        &:visited { @extend a; }
        &:hover { text-decoration: underline; }
        
      }
      
      label { overflow: hidden; }
      
      select { display: inline-block; transition: all .25s ease; }
      
      input[type="checkbox"] { display: none; }
      input[type="checkbox"]:not(:checked) + select { 
        max-width: 0; 
        border: 0; 
        padding: 0; 
        margin: 0;
      }
      input[type="checkbox"]:checked + select { max-width: 200px; }
      
    }
    
  }
  
  .calendar,
  .schedule {
    
    .cal { 
      position: relative; 
      font-family: $sans-serif-alt;
      font-size: 13px;
      
      $border: 1px solid $light-grey;
      
      table { border-collapse: collapse; font-size: inherit; }
      th, td { padding: 10px; border-top: $border; border-bottom: $border; }
    
      .name { 
        font-size: 1.25em; 
        text-align: center; 
        background-color: whitesmoke;
      }
      .headings {
        font-size: 1.1em; 
        text-align: left; 
        background-color: $light-blue-grey;
      }
      
      img { max-width: 100%; width: 100%; }
      
      a {
        color: $blue;
        text-decoration: none;
        transition: all .25s ease;

        &:visited { @extend a; }
        &:hover { color: $grey; text-decoration: underline; }

      }
      
      .toggle {
        -webkit-appearance: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        opacity: .5;
        transition: all .25s ease;
        
        &:hover { opacity: 1; }
        &[disabled] { opacity: .25; }
        &.prev { float: left; }
        &.next { float: right; }
        &::after { content: ""; display: block; clear: both; }
        
      }
    
    }
    
  }
  
  .calendar {
    
    .cal {
      
      $thumb-size: 75px;
      $title-size: 50%;
      $date-size: 15%;
      $location-size: 35%;
      
      .thumb { width: $thumb-size; }
      .title { width: $title-size }
      .date { width: $date-size }
      .location { width: $location-size; }
      
      img { min-width: $thumb-size; }
      
    }
    
    .calendar-enter-active, 
    .calendar-leave-active {
      transition: all 1s;
    }
    
    .calendar-enter-active { position: absolute; top: 0; }
    
    .calendar-enter,
    .calendar-leave-to {
      opacity: 0;
    }
    
    .calendar-enter-to,
    .calendar-leave {
      opacity: 1;
      transform: translatex(0%);
    }
    
    .calendar-leave-to.next,
    .calendar-enter.prev {
      transform: translatex(-100%); 
    }
    
    .calendar-enter.next,
    .calendar-leave-to.prev { 
      transform: translatex(100%); 
    }
    
  }
  
  .schedule {
    
    .cal {
      
      $thumb-size: 75px;
      $title-size: 50%;
      $date-size: 15%;
      $location-size: 35%;
      
      .thumb { width: $thumb-size; }
      .title { width: $title-size }
      .date { width: $date-size }
      .location { width: $location-size; }
      
      img { min-width: $thumb-size; }
      
    }
    
    .schedule-enter-active, 
    .schedule-leave-active {
      transition: all 1s;
    }
    
    .schedule-enter-active { position: absolute; top: 0; }
    
    .schedule-enter,
    .schedule-leave-to {
      opacity: 0;
    }
    
    .schedule-enter-to,
    .schedule-leave {
      opacity: 1;
      transform: translatex(0%);
    }
    
    .schedule-leave-to.next,
    .schedule-enter.prev {
      transform: translatex(-100%); 
    }
    
    .schedule-enter.next,
    .schedule-leave-to.prev { 
      transform: translatex(100%); 
    }
    
  }
  
}